<p>about works!</p>
Good morning, first of all thank you for give me this opportunity to introduce my self.
My name is Rushikesh, I am from devegaon.
I have completed fullstack we development course in that i learn 
C, CSS,HTML,Bootstrap,Javascript,MySql, angular etc.
I passinate in c. I can do any program in c language.
I am quick learner. I have a pessions. i can handle errors in a program.
I complete the english 40 that's why my code typing time is reduces.
i can find the new logics for any questions.
I can create any design in html , css and Javascript;
than you.

